others/

02_dnn_simple_pytorch/data/
02_dnn_simple_pytorch/root/
02_dnn_simple_pytorch/MNIST/
02_dnn_simple_pytorch/cifar-10-python.tar.gz
02_dnn_simple_pytorch/cifar-100-python.tar.gz
02_dnn_simple_pytorch/cifar-10-batches-py/
02_dnn_simple_pytorch/cifar-100-python/


12_gan/data/MNIST/processed/
12_gan/data/MNIST/raw/
12_gan/DenoiseMNIST/
12_gan/checkpoint/
12_gan/mvtec_anomaly_detection/
12_gan/snapshot-mvtec/
12_gan/snapshot-mnist/


