
02_dnn_simple_pytorch/MNIST/
02_dnn_simple_pytorch/cifar-10-python.tar.gz
02_dnn_simple_pytorch/cifar-100-python.tar.gz
02_dnn_simple_pytorch/cifar-10-batches-py/
02_dnn_simple_pytorch/cifar-100-python/
